@{
    ViewData["Title"] = Model.Name;
}

<div class="row">
    <div class="col-12 col-lg-5 d-flex flex-column gap-2">
        <a href="@Model.Image" data-lightbox="productImage">
            <img src="@Model.Image" class="img-fluid object-fit-cover" />
        </a>
        <div class="d-flex gap-2">
            @foreach (var productImage in Model.ProductImages)
            {
                <a href="@productImage.Image" data-lightbox="productImages">
                    <img src="@productImage.Image" width="80" height="80" class="object-fit-cover" />
                </a>
            }
        </div>
    </div>
    <div class="col-12 col-lg-7 d-flex flex-column gap-2">
        <div class="fs-1">
            @Model.Name
        </div>
        <div class="d-flex gap-2 mb-2">
            @foreach (var catalog in Model.Catalogs)
            {
                <a asp-action="Catalog" asp-route-id="@catalog.Id" class="btn btn-sm btn-outline-primary">@catalog.Name</a>
            }
        </div>
        <div class="d-flex flex-column gap-2">
            @if (Model.DiscountRate != 0)
            {
                <div class="small text-secondary text-decoration-line-through">₺@Model.Price.ToString("n2")</div>
                <div class="d-flex align-items-center gap-2">
                    <div class="fs-2 text-success">₺@Model.DiscountedPrice.ToString("n2")</div>
                    <div class="badge bg-danger">%@Model.DiscountRate.ToString("n0")</div>
                </div>

            }
        </div>
        <div class="d-flex gap-2">
            @if (!Model.IsInFavorites)
            {
                <a class="btn btn-outline-primary" asp-controller="Account" asp-action="AddToFavorites" asp-route-id="@Model.Id" asp-route-returnUrl="@ViewContext.HttpContext.Request.Path">
                    <i class="bi bi-heart"></i> Favorilere Ekle
                </a>
            }
            <form asp-action="AddToShoppingCart" method="get">
                <input type="hidden" name="id" value="@Model.Id" />
                <div class="d-flex">
                    <button id="decrement" type="button" class="btn btn-outline-secondary">-</button>
                    <input type="text" required pattern="^[0-9]+$" inputmode="numeric" class="form-control text-center" style="width:40px;" id="quantity" name="quantity" value="1" />
                    <button id="increment" type="button" class="btn btn-outline-secondary">+</button>
                    <button type="submit" class="btn btn-primary"><i class="bi bi-cart"></i> Sepete Ekle</button>
                </div>
            </form>
        </div>
    </div>
</div>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="desc-tab" data-bs-toggle="tab" data-bs-target="#desc-tab-pane" type="button" role="tab" aria-controls="desc-tab-pane" aria-selected="true">
            <i class="bi bi-justify"></i>
            Açıklamalar
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="comments-tab" data-bs-toggle="tab" data-bs-target="#comments-tab-pane" type="button" role="tab" aria-controls="comments-tab-pane" aria-selected="false">
            <i class="bi bi-chat"></i>
            Yorumlar
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="installments-tab" data-bs-toggle="tab" data-bs-target="#installments-tab-pane" type="button" role="tab" aria-controls="installments-tab-pane" aria-selected="false">
            <i class="bi bi-credit-card"></i>
            Taksit Seçenekleri
        </button>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="desc-tab-pane" role="tabpanel" aria-labelledby="desc-tab" tabindex="0">
        <blockquote class="p-4">
            @Model.Description
        </blockquote>
    </div>
    <div class="tab-pane fade" id="comments-tab-pane" role="tabpanel" aria-labelledby="comments-tab" tabindex="0">
        <div class="p-4 border">
            <partial name="_CommentFormPartial" model="@(new CommentViewModel { ProductId = Model.Id, Rating = 0 })" />
            <hr />
            @foreach (var comment in Model.Comments)
            {
                <div class="border p-4 text-bg-light rounded d-flex flex-column gap-2">
                    <div class="fw-bold">@comment.UserName</div>
                    <blockquote>@comment.Text</blockquote>
                    <div class="py-2">
                        @for (int i = 1; i <= 5; i++)
                        {
                            if (comment.Rate >= i)
                            {
                                <i class="bi bi-star-fill me-2"></i>
                            }
                            else
                            {
                                <i class="bi bi-star me-2"></i>
                            }
                        }
                    </div>
                    <div>@((comment.Date as DateTime?).Value.ToCreatedTimeString())</div>
                </div>
            }
        </div>
    </div>
    <div class="tab-pane fade" id="installments-tab-pane" role="tabpanel" aria-labelledby="installments-tab" tabindex="0">3</div>
</div>

@section Scripts {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.4/css/lightbox.min.css" integrity="sha512-ZKX+BvQihRJPA8CROKBhDNvoc2aDMOdAlcm7TUQY+35XYtrd3yh95QOOhsPDQY9QnKE0Wqag9y38OIgEvb88cA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.4/js/lightbox.min.js" integrity="sha512-Ixzuzfxv1EqafeQlTCufWfaC6ful6WFqIz4G+dWvK0beHw0NVJwvCKSgafpy5gwNqKmgUfIBraVwkKI+Cz0SEQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        $(() => {
            $('#increment').on('click', () => {
                let q = $('#quantity').val();
                $('#quantity').val(++q);
            });
            $('#decrement').on('click', () => {
                let q = $('#quantity').val();
                if (q < 2)
                    return;
                $('#quantity').val(--q);
            });

            $('.rating-wrapper i').on('click', (evt) => {
                let elm = $(evt.target);
                let index = $(elm).attr('data-index');
                $('#Rating').val(index + 1);
                $('.rating-wrapper i').removeClass('bi-star');
                for (var i = 0; i < 5; i++) {
                    $(`.rating-wrapper i[data-index=${i}]`).addClass(i <= index ? 'bi-star-fill' : 'bi-star')
                }
            });

        });
    </script>

}